.loginDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0F9D58;
    height: 100vh;
    font-family:  'Roboto', sans-serif;
}

.loginForm{
    width: 340px;
    padding: 40px;
    gap: 15px;
    background: white;
    display: flex;
    flex-direction: column;
}

.inputEmail{
    height: 15px;
    width: 300px;
    padding: 20px;
    background: #E3E3E3;
    border-radius: 10px;
    border: none;
    outline: none;
}

.inputPassword{
    height: 15px;
    width: 300px;
    padding: 20px;
    background: #E3E3E3;
    border-radius: 10px;
    border: none;
    outline: none;
}

h3{
    margin: 0;

}

.buttonLog{
    width: 340px;
    padding: 15px;
    background: #0F9D58;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}
