table {
    width: 100%;
    border: none;
    border-collapse: collapse;

}

thead {
    background: #0F9D58;
    color: white;
}

th {
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

.MainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}