 .style {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 1000px;
     background: white;
     bgcolor: background.paper;
     border: none;
     boxShadow: 24px;
     p: 4;
     padding: 30px;
     border-radius: 10px;
 }
 .formWindow {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 1rem;
 }

 label {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }

 .formWindow> label > input {
     height: 15px;
     width: 460px;
     padding: 14px;
     background: #E3E3E3;
     border-radius: 10px;
     border: none;
     outline: none;
 }

 .formWindow> label > select {
     height: 44px;
     width: 488px;
     padding: 14px;
     background: #E3E3E3;
     border-radius: 10px;
     border: none;
     outline: none;
 }

 .buttonsDiv{
     display: flex;
     width: 100%;
     justify-content: flex-end;
     align-items: center;
     gap: 10px;
 }
 .buttonsDiv > button {
     border: none;
     background: #0a673a;
     padding: 20px 40px 20px 40px;
     color: white;
     border-radius: 8px;
 }

 .editButton {
     padding: 10px 20px 10px 20px;
     background: #0a673a;
     color: white;
     position: absolute;
     top: 50%;
     right: 30px;
 }

 .inputError{
     border: 1px solid red !important;
 }

 .inputDiv{
    width: 488px;
 }

 .inputDiv select{
     height: 44px;
     width: 488px;
     padding: 14px;
     background: #E3E3E3;
     border-radius: 10px;
     border: none;
     outline: none;
     margin-bottom: 0;
 }

 .addGroups{
     margin-top: 0;
     width: 488px;
     border: none;
     background: #0a673a;
     height: 16px;
     border-radius: 8px ;
     color: white;
 }

 .inputDiv input{
     height: 15px;
     width: 460px;
     padding: 14px;
     background: #E3E3E3;
     border-radius: 10px;
     border: none;
     outline: none;
 }

 .inputDiv>label>div>button{
     margin-top: 0;
     width: 50%;
     border: none;
     background: #0a673a;
     height: 16px;
     border-radius: 8px ;
     color: white;

 }